<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    <typeAliases>
        <package name="org.sansovo.simple.model"/>
    </typeAliases>
	<typeHandlers>
		<typeHandler 
			javaType="org.sansovo.simple.type.Enabled" 
			handler="org.sansovo.simple.type.EnabledTypeHandler"/>
	</typeHandlers>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="32147"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="org/sansovo/simple/mapper/CountryMapper.xml"/>  
        <mapper resource="org/sansovo/simple/mapper/UserMapper.xml"/>
<!--        
		<mapper resource="org/sansovo/simple/mapper/RoleMapper.xml"/>
        <mapper resource="org/sansovo/simple/mapper/PrivilegeMapper.xml"/>
        <mapper resource="org/sansovo/simple/mapper/UserRoleMapper.xml"/>
        <mapper resource="org/sansovo/simple/mapper/RolePrivilegeMapper.xml"/>
        -->
        <!--  
        <package name="org.sansovo.simple.mapper"/>
        -->
    </mappers>
</configuration>
